<h1 *ngIf="showHeading" >portfolio</h1>
<ng-container *ngIf="!submitted; else preview">
  <h2>personal Inforamtion</h2>
  <form action="">
    <div>
      <label>Name</label>
      <input type="text" name="name" id="name" [(ngModel)]="nm" />
    </div>
    <div>
      <label>Email</label>
      <input type="text" name="email" id="email"[(ngModel)]="em">
    </div>
    <div>
      <label>phone</label>
      <input type="text" name="phone" id="phone" [(ngModel)]="ph">
    </div>
    <div>
      <label>address</label>
      <input type="text" name="address" id="address" [(ngModel)]="add">
    </div>
  </form>
  <div *ngFor="let q of qualifications; let i = index">
  <h2>Qualifaction {{i+1}}</h2>
  <form action="">
    <div>
      <label for="">school /college</label>
      <input type="text" name="school" id="school" [(ngModel)]="q.school">
    </div>
    <div>
      <label for="">Degree</label>
      <input type="text" name="degree" id="degree"
      [(ngModel)]="q.degree">
    </div>
    <div>
      <label for="year">year</label>
      <input type="text" name="year" id="year"
      [(ngModel)]="q.year">
    </div>
  </form>
</div>
<div class="btn-container">
  <button (click)="addQualification()">Add quelifaction</button>
  <button type="submit" (click)="submit()">Submit</button>
</div>
</ng-container>

<ng-template #preview>
   <div class="preview-container">
    <h2>preview</h2>
    <div>
      <p [ngClass]="{'name': true}">Name : {{nm}}</p>
      <p>Email : {{em}}</p>
      <p>phone :{{ph}}</p>
      <p>Address :{{add}}</p>
    </div>
    <div>
      <h3>Qualifaction</h3>
      <div *ngFor="let q of qualifications ">
        <h5>school / collegae : {{q.school}}</h5>
        <h5>Degree : {{q.degree}} {{q.year}}</h5>
      </div>
    </div> 
     <button class="edit" (click)="edit()">Edit</button>

   </div>
</ng-template>